# Table of Contents
 <p><div class="lev1"><a href="#pivot"><span class="toc-item-num">1&nbsp;&nbsp;</span>pivot</a></div><div class="lev1"><a href="#melt"><span class="toc-item-num">2&nbsp;&nbsp;</span>melt</a></div><div class="lev1"><a href="#stack"><span class="toc-item-num">3&nbsp;&nbsp;</span>stack</a></div><div class="lev1"><a href="#unstack"><span class="toc-item-num">4&nbsp;&nbsp;</span>unstack</a></div><div class="lev1"><a href="#xs-(-select-multiple-index)"><span class="toc-item-num">5&nbsp;&nbsp;</span>xs ( select multiple index)</a></div><div class="lev1"><a href="#Example"><span class="toc-item-num">6&nbsp;&nbsp;</span>Example</a></div><div class="lev1"><a href="#melt:-a-type-of-unpivoting"><span class="toc-item-num">7&nbsp;&nbsp;</span>melt: a type of unpivoting</a></div>


http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html#


# pivot
# melt
# stack
# unstack
# xs ( select multiple index)

pivot = rest_index + unstack

pivot_table

The operations, like stacking and unstacking (as well as pivoting)
do not lose any information

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd

In [3]:
from IPython.core.display import HTML
HTML('<style>{}</style>'.format(open('./color_df.css').read()))

In [4]:
df = pd.DataFrame({'Name' : ['Mike', 'Mikael'],
                   'Height' : [170, 60],
                   'Weight' : [188, 95]}, columns=[['Name', 'Height', 'Weight']])

In [5]:
df.head()

     Name  Height  Weight
0    Mike     170     188
1  Mikael      60      95

melt: a type of unpivoting

wide format -> long format

It “unpivots” a DataFrame from a wide format to a long format

In [6]:
formatted_df = pd.melt(df, 
        id_vars=['Name'],
        value_vars=['Height', 'Weight'])

formatted_df

     Name variable  value
0    Mike   Height    170
1  Mikael   Height     60
2    Mike   Weight    188
3  Mikael   Weight     95

In [7]:
formatted_df.pivot(index='Name', columns='variable')
formatted_df.pivot(index='Name', columns='variable', values='value')

          value
variable Height Weight
Name
Mikael       60     95
Mike        170    188

variable  Height  Weight
Name
Mikael        60      95
Mike         170     188

In [8]:
formatted_df.pivot(index='Name', columns='variable', values='value').reset_index()
df

variable    Name  Height  Weight
0         Mikael      60      95
1           Mike     170     188

     Name  Height  Weight
0    Mike     170     188
1  Mikael      60      95

# Example

In [9]:
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO

In [10]:
df = pd.read_csv(StringIO('''
UID test test_value
uid1 ring1 100
uid1 ring2 103
uid1 ring3 99
uid2 ring1 99
uid2 ring2 101
uid2 ring3 102
'''),
delim_whitespace=True)

df

    UID   test  test_value
0  uid1  ring1         100
1  uid1  ring2         103
2  uid1  ring3          99
3  uid2  ring1          99
4  uid2  ring2         101
5  uid2  ring3         102

In [11]:
# In this format 
# it is easier to
# add a new variable and measurement
# as the data can simply be added as a new row
# instead of requiring a change of structure to DataFrame by adding a new column.

df

    UID   test  test_value
0  uid1  ring1         100
1  uid1  ring2         103
2  uid1  ring3          99
3  uid2  ring1          99
4  uid2  ring2         101
5  uid2  ring3         102

In [12]:
df.pivot(index='UID', columns='test')
df_galaxy = df.pivot(index='UID', columns='test', values='test_value')
df_galaxy

     test_value
test      ring1 ring2 ring3
UID
uid1        100   103    99
uid2         99   101   102

test  ring1  ring2  ring3
UID
uid1    100    103     99
uid2     99    101    102

In [13]:
df_galaxy.reset_index(inplace=True)

In [14]:
pd.melt(df_galaxy, 
        id_vars=['UID'],
        value_vars=['ring1', 'ring2', 'ring3'])

    UID   test  value
0  uid1  ring1    100
1  uid2  ring1     99
2  uid1  ring2    103
3  uid2  ring2    101
4  uid1  ring3     99
5  uid2  ring3    102

In [15]:
_.sort_values(by=['UID', 'test'])

    UID   test  value
0  uid1  ring1    100
2  uid1  ring2    103
4  uid1  ring3     99
1  uid2  ring1     99
3  uid2  ring2    101
5  uid2  ring3    102

In [16]:
df.pivot(index='UID', columns='test')

     test_value
test      ring1 ring2 ring3
UID
uid1        100   103    99
uid2         99   101   102

In [17]:
_.stack()

            test_value
UID  test
uid1 ring1         100
     ring2         103
     ring3          99
uid2 ring1          99
     ring2         101
     ring3         102

In [18]:
_.reset_index()

    UID   test  test_value
0  uid1  ring1         100
1  uid1  ring2         103
2  uid1  ring3          99
3  uid2  ring1          99
4  uid2  ring2         101
5  uid2  ring3         102

In [19]:
df.pivot(index='UID', columns='test', values='test_value')

test  ring1  ring2  ring3
UID
uid1    100    103     99
uid2     99    101    102

In [20]:
_.stack()

UID   test
uid1  ring1    100
      ring2    103
      ring3     99
uid2  ring1     99
      ring2    101
      ring3    102
dtype: int64

In [21]:
_.unstack()

test  ring1  ring2  ring3
UID
uid1    100    103     99
uid2     99    101    102

In [22]:
df.pivot(index='UID', columns='test', values='test_value')

test  ring1  ring2  ring3
UID
uid1    100    103     99
uid2     99    101    102

In [23]:
_.stack()

UID   test
uid1  ring1    100
      ring2    103
      ring3     99
uid2  ring1     99
      ring2    101
      ring3    102
dtype: int64

In [24]:
pd.DataFrame(_)

              0
UID  test
uid1 ring1  100
     ring2  103
     ring3   99
uid2 ring1   99
     ring2  101
     ring3  102

In [25]:
df

    UID   test  test_value
0  uid1  ring1         100
1  uid1  ring2         103
2  uid1  ring3          99
3  uid2  ring1          99
4  uid2  ring2         101
5  uid2  ring3         102

In [26]:
df.set_index(['UID', 'test']).unstack()

     test_value
test      ring1 ring2 ring3
UID
uid1        100   103    99
uid2         99   101   102

In [27]:
df.pivot(index='UID', columns='test') # pivot = rest_index + unstack

     test_value
test      ring1 ring2 ring3
UID
uid1        100   103    99
uid2         99   101   102

# melt: a type of unpivoting

melt: a type of unpivoting

wide format -> long format

In [28]:
df = pd.read_csv(StringIO('''
UID test test_value
uid1 ring1 100
uid1 ring2 103
uid1 ring3 99
uid2 ring1 99
uid2 ring2 101
uid2 ring3 102
'''),
delim_whitespace=True)

df

    UID   test  test_value
0  uid1  ring1         100
1  uid1  ring2         103
2  uid1  ring3          99
3  uid2  ring1          99
4  uid2  ring2         101
5  uid2  ring3         102

In [29]:
df.pivot(index='UID', columns='test')

     test_value
test      ring1 ring2 ring3
UID
uid1        100   103    99
uid2         99   101   102

In [30]:
df_foo = df.pivot(index='UID', columns='test')
df_foo

     test_value
test      ring1 ring2 ring3
UID
uid1        100   103    99
uid2         99   101   102

In [31]:
df_foo.xs(key='test_value', level=0,axis=1) # axis=1 <=> columns
df_foo.xs(key='test_value', axis=1) # axis=1 <=> columns

test  ring1  ring2  ring3
UID
uid1    100    103     99
uid2     99    101    102

test  ring1  ring2  ring3
UID
uid1    100    103     99
uid2     99    101    102

In [37]:
df_foo.xs(key='test_value', level=0, axis=1).reset_index()

test   UID  ring1  ring2  ring3
0     uid1    100    103     99
1     uid2     99    101    102

In [38]:
# melt: a type of unpivoting
# wide format -> long format
pd.melt(_,
        id_vars=['UID'],
        value_vars=['ring1', 'ring2', 'ring3'])

    UID   test  value
0  uid1  ring1    100
1  uid2  ring1     99
2  uid1  ring2    103
3  uid2  ring2    101
4  uid1  ring3     99
5  uid2  ring3    102

In [39]:
pd.melt(__,
        ['UID'],
        var_name="test_field",
        value_name="test_value")

    UID test_field  test_value
0  uid1      ring1         100
1  uid2      ring1          99
2  uid1      ring2         103
3  uid2      ring2         101
4  uid1      ring3          99
5  uid2      ring3         102